.wcb-section-wrapper {
    .block-editor-block-list__layout {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-left: 0px;
        margin-right: 0px;

        > * {
            flex: 0 1 100%;
        }
    }
}