.wcb-col {
    flex: 0 1 100%;
    &.wcb-col-16 {
        flex-basis: 16%;
    }
    &.wcb-col-20 {
        flex-basis: 20%;
    }
    &.wcb-col-25 {
        flex-basis: 25%;
    }
    &.wcb-col-33 {
        flex-basis: 33.33%;
    }
    &.wcb-col-50 {
        flex-basis: 50%;
    }
    &.wcb-col-60 {
        flex-basis: 60%;
    }
    &.wcb-col-75 {
        flex-basis: 75%;
    }
}

.wcb-section-wrapper {
    > .block-editor-inner-blocks {
        > .block-editor-block-list__layout {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-left: 0px;
            margin-right: 0px;
    
            > * {
                flex: 0 1 auto;
            }
        }
    }
}

.components-placeholder {
    &.wcb-select-layout-preview-wrapper {
        .wcb-section-layout-preview {
            display: flex;
            flex-wrap: wrap;
            margin-right: -5px;
            margin-left: -5px;
            .wcb-section-layout-preview-btn {
                display: flex;
                flex-wrap: nowrap;
                width: 80px;
                padding: 0;
                margin: 5px;
                overflow: hidden;
                cursor: pointer;
                background: none;
                border: 2px solid var(--wp-admin-theme-color);
                border-radius: 4px;
                transition: .15s border-color,.15s background-color;
                .wcb-col {
                    height: 40px;
                    border-right: 2px solid var(--wp-admin-theme-color);
                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }
    }
}
